.comment {
  min-height: 40px;
  border: 1px solid red;
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.selected {
  background-color: grey;
  color: red;
  font-weight: bold;
}
